# Bağımlılıklar
node_modules/
.pnp
.pnp.js

# Derleme çıktıları
dist/
build/

# Ortam değişkenleri
.env
.env.local
.env.development
.env.test
.env.production

# IDE/Editör ayarları
.vscode/
.idea/

# Loglar ve önbellek
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
fzkui-1.0.0.tgz